/*Removed previous styles*/

/*Added custom styles*/
.round-image {
  max-width: 100%;
  border-radius: 50%;
}

#features {
    padding: 100px 0;
}

#reviews {
    padding: 100px 0;
}

#products {
    padding: 100px 0;
}

#signup {
    background-color: #f1f1f1;
    padding: 100px 0;
}