

body.dark-mode {
    background-color: #131516;
    color: #fff;
}

.bg-light.dark-mode {
    background-color: #1b1e21 !important;
}

.dark-mode .bg-secondary {
    background-color: #343a40 !important;
}

.dark-mode #signup {
    background-color: #212529 !important;
}

.dark-mode #products {
    background-color: #212529;
}

.dark-mode .card {
    background-color: #1b1e21;
    border-color: #6c757d;
    color: #fff;
}

.dark-mode .card-title {
    color: #fff;
}

.dark-mode input[type="search"],
.dark-mode input[type="email"] {
    background-color: #26292c;
    border-color: #6c757d;
    color: #fff;
}

.dark-mode .btn {
    background-color: #6c757d;
    color: #fff;
}

.toggle-dark-mode {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 12px;
    background-color: #131516;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 100;
}
.toggle-dark-mode:focus {
    outline: 0;
}


